body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0A8754;
    margin: 0;
    padding: 20px;
    color: white;
}

.container {
    max-width: 400px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    color: black;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background: #025E43;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #013D2C;
}

#otp-display {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}
